node_modules
npm-debug.log

dist
build

Dockerfile
.dockerignore

.git
.gitignore

.env
.env.local
.env.production.local
.env.test.local

README.md

.vscode
.idea
.history

.DS_Store
Thumbs.db

*.log
logs

test
coverage
.nyc_output
*.test.*
*.spec.*

*.tmp
*.temp